.error-page {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-page-title {
  font-size: 16.8rem;
  line-height: calc(16.8rem * 1.2);
  font-weight: 700;
}

@media (max-width: 575px) {
  .error-page-title {
    font-size: 10.5rem;
    line-height: calc(10.5rem * 1.2);
  }
}

.error-page-sub-title {
  font-size: 3.2rem;
  line-height: calc(3.2rem * 1.2);
  font-weight: 500;
  margin-bottom: 1.6rem;
}
