.search-form {
  margin-top: 4rem;
}

.search-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

@media (max-width: 575px) {
  .search-form form {
    flex-wrap: wrap;
  }
}

.search-form input {
  height: 4rem;
  max-width: 48rem;
  width: 100%;
  padding: 0.8rem;
}

@media (max-width: 575px) {
  .search-form input {
    height: 5rem;
  }
}

.search-form button {
  height: 4rem;
  max-width: 16rem;
  width: 100%;
}

@media (max-width: 575px) {
  .search-form :where(input, button) {
    max-width: 100% !important;
  }
}
